.sidebar-nav {
    margin-right: 0px;
}

.sidebar-header {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    padding-bottom: 0px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: var(--color-principal);
    border-radius: 5px;
    width: 100%;
}

.user-information {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    margin: auto;
    width: 100%;
}

.circular-image {
    border-radius: 50%;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    border-radius: 50%;
    /* background-image: url("../profile-images/sergiobonato.png"); */
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    margin-bottom: 15px;
}

@media (max-width: 767px) {
    .sidebar-header {
        flex-direction: row;
        height: 15%;
    }

    .user-information.user-image {
        max-width: 120px;
        margin: auto auto auto 0;
    }

    .circular-image {
        margin-bottom: 0;
    }
}

.user-information p {
    height: fit-content;
    margin: auto;
    margin-bottom: auto;
    margin-top: auto;
    color: var(--color-fondo);
    font-size: 1.2em;
    font-weight: bold;
}

.user-rol {
    font-size: 0.8em;
    font-style: italic;
    color: var(--color-letras);
    font-weight: normal;
}

.nav>.nav-header {
    color: var(--color-letras);
    font-weight: bold;
}

.nav>li>span {
    color: var(--color-letras);
}

.nav>li>span:focus {
    color: var(--color-letras);
}

.nav>li>span:hover {
    color: var(--color-principal);
    font-weight: bold;
    cursor: pointer;
}

.nav-pills .nav-link.active {
    color: var(--color-principal);
    background-color: var(--color-acentuado);
    font-weight: bold;
}

.sidebar-toggler {
    position: initial;
    margin: 5px auto auto auto;
    width: fit-content;
    padding: 5px 10px;
    font-size: 0.9em;
    color: #fff;
    background-color: #434857;
    border: 1px solid #434857;
}

.sidebar-toggler[aria-expanded="false"]:before {
    content: "Abrir ";
}

.sidebar-toggler[aria-expanded="true"]:before {
    content: "Cerrar ";
}

.sidebar-toggler:hover {
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}

.sidebar-toggler:focus {
    outline: none;  
}
